@import "locomotive-scroll/dist/locomotive-scroll.css";
@font-face {
  font-family: "TTtrailer";
  src: url("../../public/font/TTTrailersBold.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

.row {
  padding: 0 5%;
  height: 100%;
}
.container {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
}
html {
  max-width: 100%;
}
body {
  max-width: 100%;
  position: relative;
}

header {
  margin-top: 30px;
  position: fixed;
  z-index: 10000;
  display: inline-block;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  transition: 0.34s ease-in-out;
  display: flex;
}
nav.active {
  transform: translateX(0%);
}

main {
  width: 100%;
  margin-bottom: 100vh;
  box-sizing: border-box;
}

#title {
  height: 100vh;
  background-color: #fff;
}
#title .container {
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
}
#textFlow1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-bottom: 0;
  margin-bottom: 0;
}
#about {
  padding: 200px 0 400px;
  background-color: #fff;
  position: relative;
}
#webSite {
  height: auto;
  width: 100%;
}
#animation {
  background-color: #fff;
  position: relative;
}
#script {
  width: 100%;
  background-color: #000;
}
#board {
  width: 100%;
  background-color: #000;
  border-radius: 0 0 50px 50px;
}
.theme {
  width: 100%;
  height: 100vh;
  padding: 50px 0;
}
.themeBG {
  width: 100%;
  height: 100vh;
}
@keyframes text-flow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(200%);
  }
}
